body {
  font-family: system-ui;
  background: #f4f4f4;
  padding: 20px;
  direction: rtl;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color:#459b48;
}

#form-message {
  color: #45a049;
  font-size: 14px;
  margin: 5px 0;
}

.error{
  color: #45a049;
  font-size: 14px;
  margin: 5px 0;  
}

.user-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.user-card p {
  margin: 0 0 5px 0;
  flex: 1 1 100%;
}

#user-list {
  margin-top: 20px;
}

#search-input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.loader{
  width: 100px;
  height: 10px;
  background-color: #eee;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  border-radius: 5px;
}
.loader::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
  animation: loading 1.2s infinite;
}
@keyframes loading{
  0% { width: 0%; left: 0;}
  50% { width: 100%; left: 0;}
  100% { width: 0%; left:100%;}
}
.hidden {
  display:none;
}