/* Layout Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  padding: 20px;
  height: 100%;
  border: solid #ac19195b;
  border-width: 5px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px 20px;
  color: white;
}

.menu a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

/* Product Section */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, minmax(20px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.product {
    color: rgb(117, 82, 38);
  background: #f3f3f3;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 30px;
  background-color: #eee;
}